---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import cereales from "../../images/cereales.png";
import subproductos from "../../images/subproductos.png";
import segurosgranizo from "../../images/segurosgranizo.png";
import { BadgeCheck } from "lucide-react";
import { cardCereales, cardSubProductos, cardGranizo } from "@/data_en";
---

<Layout title="Tanoni Agro - What we do">
  <section
    class="flex flex-col gap-10 md:gap-0 box-border mb-16"
    transition:animate="fade"
  >
    <div class="w-full h-[100px] flex items-center justify-center">
      <h2 class="text-2xl font-black text-gray-700 lato-normal px-10 md:pl-32">WHAT WE DO</h2>
      <hr class="flex-grow border-t border-gray-300 mr-20" />
    </div>
    <div class="flex flex-col gap-20 w-full">
      <!-- CARD -->
      <div id="grains"
        class="flex flex-col md:items-center md:flex-row w-full py-8 px-10 md:px-28 min-h-64 gap-8 bg-amber-50"
      >
        <div class="w-full h-full md:w-2/6">
          <Image src={cereales} alt="Grains Card" class="w-4/5 mx-auto" />
        </div>
        <div class="flex flex-col w-full h-full md:w-4/6 gap-2">
          <h3 class="text-clamp-sm font-black text-amber-800 lato-italic">
            {cardCereales.title}
          </h3>
          <h5 class="font-bold prose text-amber-700 prose-amber prose-base md:prose-lg lato-normal">
            {cardCereales.subTitle}
          </h5>
          <p class="prose prose-amber text-amber-950 font-medium prose-base md:prose-lg">
            {cardCereales.description}
          </p>
          <p class="font-semibold prose prose-slate prose-base md:prose-lg underline text-amber-800">Highlights:</p>
          <ul class="flex flex-col text-md font-medium prose prose-zinc text-amber-700">
            <li class="flex gap-2 justify-start items-center">
              <div class="flex-shrink-0">
                <BadgeCheck color="#13ec04" />
              </div>
              {cardCereales.items[0]}
            </li>
            <li class="flex gap-2">
              <div class="flex-shrink-0">
                <BadgeCheck color="#13ec04" />
              </div>
              {cardCereales.items[1]}
            </li>
            <li class="flex gap-2">
              <div class="flex-shrink-0">
                <BadgeCheck color="#13ec04" />
              </div>
              {cardCereales.items[2]}
            </li>
          </ul>
        </div>
      </div>
      <!-- CARD -->
      <div id="by-products"
        class="flex flex-col md:flex-row md:items-center w-full py-8 px-10 md:px-28 min-h-64 gap-8 bg-lime-50"
      >
        <div class="w-full md:w-2/6">
          <Image src={subproductos} alt="Tractor" class="w-4/5 mx-auto" />
        </div>
        <div class="flex flex-col w-full h-full md:w-4/6 gap-2">
          <h3 class="text-clamp-sm font-black text-lime-800 lato-italic">
            {cardSubProductos.title}
          </h3>
          <h5 class="font-bold prose prose-lime text-lime-700 prose-base md:prose-lg lato-normal">
            {cardSubProductos.subTitle}
          </h5>
          <p class="prose prose-lime font-medium text-lime-950 prose-base md:prose-lg">
            {cardSubProductos.description}
          </p>
          <p class="font-semibold prose prose-slate prose-base md:prose-lg underline text-lime-800">Highlights:</p>
          <ul class="flex flex-col text-md font-medium prose prose-zinc text-lime-700">
            <li class="flex gap-2 justify-start items-center">
              <div class="flex-shrink-0">
                <BadgeCheck color="#13ec04" />
              </div>
              {cardCereales.items[0]}
            </li>
            <li class="flex gap-2">
              <div class="flex-shrink-0">
                <BadgeCheck color="#13ec04" />
              </div>
              {cardCereales.items[1]}
            </li>
            <li class="flex gap-2">
              <div class="flex-shrink-0">
                <BadgeCheck color="#13ec04" />
              </div>
              {cardCereales.items[2]}
            </li>
          </ul>
        </div>
      </div>
      <!-- CARD -->
      <div id="hail-insurance"
        class="flex flex-col md:flex-row md:items-center w-full py-8 px-10 md:px-28 min-h-64 gap-8 bg-blue-50"
      >
        <div class="w-full md:w-2/6">
          <Image src={segurosgranizo} alt="Tractor" class="w-4/5 mx-auto" />
        </div>
        <div class="flex flex-col w-full md:w-4/6 gap-2">
          <h3 class="text-clamp-sm font-bold text-blue-800 lato-italic">
            {cardGranizo.title}
          </h3>
          <h5 class="font-bold prose prose-blue text-blue-700 prose-base md:prose-lg lato-normal">
            {cardGranizo.subTitle}
          </h5>
          <p class="prose prose-blue font-medium text-blue-950 prose-base md:prose-lg">
            {cardGranizo.description}
          </p>
          <p class="font-semibold prose prose-slate prose-base md:prose-lg underline text-blue-800">Highlights:</p>
          <ul class="flex flex-col text-md font-medium prose prose-zinc text-blue-700">
            <li class="flex gap-2 justify-start items-center">
              <div class="flex-shrink-0">
                <BadgeCheck color="#13ec04" />
              </div>
              {cardCereales.items[0]}
            </li>
            <li class="flex gap-2">
              <div class="flex-shrink-0">
                <BadgeCheck color="#13ec04" />
              </div>
              {cardCereales.items[1]}
            </li>
            <li class="flex gap-2">
              <div class="flex-shrink-0">
                <BadgeCheck color="#13ec04" />
              </div>
              {cardCereales.items[2]}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</Layout>
